<p id="notice"><%= notice %></p>

<p>
  <!--strong>Username:</strong-->
  <h1><%= @user.username %></h1>
</p>

<div>has made <%= @user.ratings.count %> ratings</div>

<ul>
    
    <% @user.ratings.each do |beer| %>
    
        <li><%= beer.beer.name %>
        <%= beer.score %>
        <%= link_to 'Delete', beer, method: :delete, data: { confirm: 'Are you sure?' } %>
        </li>
    <% end %>
</ul>


 |
<%= link_to 'Back', users_path %>
<% if @user == current_user %> 
  <%= link_to 'Edit', edit_user_path(@user) %>
  <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
